@import "src/styles/colors";

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  gap: 2em;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40em;
    width: 20em;
    border-radius: 20px;
    box-shadow: $shadow;
    background-size: 71em;
    background-position: 50em;
    transition: box-shadow 70ms ease-in-out, transform 80ms ease-in-out;

    &:hover {
      cursor: pointer;
      box-shadow: $shadow-hover;
      transform: scale(1.1);
    }

    .cardIcon {
      width: auto;

      img {
        width: 7.5em;
      }
    }

    .cardImg {
      width: 17em;
      height: 17em;
      clip-path: circle(50%);
      background-size: cover;
      border: 0.5em solid rgb(68, 205, 217);
      border-radius: 50%;
    }

    .cardText {
      font-size: 2em;
      font-weight: bolder;
      text-align: center;
      text-shadow: $shadow;
      color: $color;
    }

    .cardBottom {
      width: 12em;
    }
  }
}

@media (max-width: 1117px) {
  .cardContainer {
    font-size: 13px;
    gap: 1em;
  }
}

@media (max-width: 750px) {
  .cardContainer {
    font-size: 10px;
    gap: 0.4em;
  }
}

@media (max-width: 560px) {
  .cardContainer {
    font-size: 8px;
    gap: 0.2em;
  }
}

@media (max-width: 440px) {
  .cardContainer {
    font-size: 6.5px;
  }
}