$first-bg-color: #0C0C0C;
$second-bg-color: #ffa034;
$color: #ffffff;
$color-index: #dfdfdfec;
$color-secondary: #929292;
$gradient: linear-gradient(to right, rgba(244, 15, 77, 1) 0%, rgba(180, 21, 96, 1) 12%, rgba(145, 26, 144, 1) 24%, rgba(127, 47, 171, 1) 36%, rgba(110, 78, 232, 1) 48%, rgba(95, 86, 255, 1) 60%, rgba(209, 82, 22, 1) 68%, rgba(255, 162, 25, 1) 87%);
$shadow: 1px 3px 8px #000000;
$shadow-hover: 1px 8px 13px #000000;
$shadow-light: 1px 5px 13px #0000006f;